

// Font Size Base

@odoo-font-size-base: 13px;
@odoo-font-size-base-touch: 15px;

// Odoo Apps Drawer

@app-drawer-icon-close:     #ffffff;
@app-drawer-icon-size:      6em;
@app-drawer-icon-margin:    1em;

@app-drawer-width:          100%;
@app-drawer-title-height:   46px;

// Odoo Navbar
@app-drawer-navbar-padding-vertical: @navbar-padding-vertical / 2;
@app-drawer-padding-horizontal: @navbar-padding-horizontal / 2;
@app-drawer-navbar-height:  @navbar-height / 2;

// Colors

@odoo-brand-primary: #545454;
@odoo-brand-optional: #7c7bad; //D42020
@odoo-brand-secondary: #8f8f8f;
@odoo-brand-lightsecondary: #dddddd;

@odoo-main-color-muted: #a8a8a8;
@odoo-main-text-color: #666666;

@odoo-view-background-color: #f6f6f6;
@odoo-shadow-color: #303030;

@odoo-webclient-background-color: @odoo-brand-secondary;
@odoo-control-panel-background-color: #f6f6f6;
@odoo-form-lightsecondary: lighten(@odoo-brand-secondary, 25%); //lighten(@odoo-brand-secondary, 25%)
@odoo-list-grey: #F1F1F1; // @odoo-brand-lightsecondary

@odoo-list-footer-color: #4C4C4C;
@odoo-list-footer-bg-color: #EEEEEE; //@odoo-brand-primary
@odoo-list-footer-font-weight: normal;

@odoo-tooltip-background-color: @odoo-view-background-color;
@odoo-tooltip-color: @odoo-main-text-color;
@odoo-tooltip-arrow-color: @odoo-main-text-color;

// Layout
@screen-xs-min: 475px;
@screen-xxs-max: (@screen-xs-min - 1);

@odoo-form-group-cols: 12;
@odoo-form-spacing-unit: 5px;
@odoo-horizontal-padding: 16px;
@odoo-innergroup-rpadding: 45px;
@odoo-dropdown-hpadding: 25px;

@odoo-sheet-vpadding: 24px;

@odoo-avatar-size: 90px;

@odoo-statusbar-height: 33px;
@odoo-statusbar-arrow-width: @odoo-statusbar-height/3;
@odoo-statusbar-disabled-bg: lighten(@odoo-brand-lightsecondary, 7%);

@odoo-statbutton-height: 46px;
@odoo-statbutton-vpadding: 5px;
@odoo-statbutton-spacing: 13px;

@odoo-label-font-size-factor: 0.8;
@odoo-navbar-height: 48px;
@odoo-navbar-inverse-link-hover-bg: darken(@odoo-brand-primary, 10%);

//
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%);
@gray-dark:              #333;
@gray:                   #777;
@gray-light:             #AEA79E;
@gray-lighter:           lighten(@gray-base, 93.5%);

// ------------------------------------------------------------------
// Bootstrap variables
// ------------------------------------------------------------------

//== Grid
@grid-gutter-width: @odoo-horizontal-padding*2;

//== Colors
@brand-primary: @odoo-brand-primary;

//== Titles
@font-size-h1: @odoo-font-size-base + 19px;
@font-size-h2: @odoo-font-size-base + 7px;
@font-size-h3: @odoo-font-size-base + 3px;
@font-size-h4: @odoo-font-size-base + 2px;
@font-size-h5: @odoo-font-size-base + 1px;
@font-size-h6: @odoo-font-size-base;

//== Scaffolding
@body-bg: @odoo-brand-secondary;
@text-color: @odoo-main-text-color;
@link-color: @odoo-brand-optional;
@link-hover-decoration: none;

//== Typography
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-size-base: @odoo-font-size-base;

// Font, line-height, and color for body text, headings, and more.
@font-family-base:        @font-family-sans-serif;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;

//== Components
@border-radius-base: 0;
@component-active-bg: @gray-lighter;
@component-active-color: @odoo-brand-optional;

//== Badges
@badge-bg: transparent;
@badge-color: @odoo-brand-optional;
@badge-line-height: @line-height-base;

//== Breadcrumbs
@breadcrumb-active-color: #5f5e97;//@odoo-brand-secondary
@breadcrumb-bg: #FCFCFC;//@odoo-control-panel-background-color
@breadcrumb-color: #7c7bad;//@odoo-brand-secondary
@breadcrumb-padding-horizontal: 0;
@breadcrumb-padding-vertical: 0;

//== Buttons
@btn-default-bg: #ACB5C3; //#ACB5C3    white
@btn-primary-bg: #649AE0; //3d74e8
@btn-primary-border: #649AE0; //3d74e8
@btn-primary-color: white;
@btn-icon-bg: @odoo-list-grey;
@btn-icon-border: @odoo-list-grey;
@btn-icon-color: @odoo-main-text-color;

// Modals
.modal-header {
    background: #dddddd;
}
.modal-footer {
    background: #dddddd;
}

@modal-inner-padding: @odoo-horizontal-padding;
@modal-title-padding: @odoo-horizontal-padding;

@modal-sm: 300px;
@modal-md: 650px;
@modal-lg: 980px;

//== Navbar

// Basics of a navbar
@navbar-height:                    62px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #fff;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            none; //darken(@navbar-default-bg, 6.5%)

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 15%);
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         #fff;
@navbar-default-brand-hover-bg:            none;

// Navbar toggle
@navbar-default-toggle-hover-bg:           darken(@navbar-default-bg, 15%);
@navbar-default-toggle-icon-bar-bg:        #fff;
@navbar-default-toggle-border-color:       darken(@navbar-default-bg, 15%);


//=== Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         @brand-info;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              darken(@navbar-inverse-bg, 15%);
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #ccc;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             none;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            darken(@navbar-inverse-bg, 15%);
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        darken(@navbar-inverse-bg, 15%);

//== Tables
@table-bg-accent: #e8e8e8; // FIXME: expose


// ------------------------------------------------------------------
// Bootstrap components rules (non exposed features variables)
// ------------------------------------------------------------------

//== Titles
@media (max-width: @screen-xs-max) {
    h1 {
        font-size: @font-size-h1 * 3 / 4;
    }
    h2, h3, h4, h5, h6 {
        font-size: @odoo-font-size-base-touch;
    }
}

//== Badges
.badge {
    border: 1px solid @odoo-brand-optional;
    margin: 1px 2px 1px 0;
    padding-top: 0;
    padding-bottom: 0;
}

// Buttons
btn-default {
    background-color: white;
    border-color: #cccccc;
    color: #4c4c4c;
}
.btn-default:focus, .btn-default.focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    color: #4c4c4c;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #4c4c4c;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #4c4c4c;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #4c4c4c;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default.focus[disabled], fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: #cccccc;
}
.btn-default .badge {
    background-color: #4c4c4c;
    color: white;
}
.btn-default:focus, .btn-default.focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    color: #4c4c4c;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #4c4c4c;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #4c4c4c;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #4c4c4c;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default.focus[disabled], fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: #cccccc;
}
.btn-default .badge {
    background-color: #4c4c4c;
    color: white;
}
.btn-primary {
    background-color: #7c7bad;
    border-color: #7c7bad;
    color: white;
}
.btn-primary:focus, .btn-primary.focus {
    background-color: #5f5e97;
    border-color: #414168;
    color: white;
}
.btn-primary:hover {
    background-color: #5f5e97;
    border-color: #5b5a91;
    color: white;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #5f5e97;
    border-color: #5b5a91;
    color: white;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background-color: #515081;
    border-color: #414168;
    color: white;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #7c7bad;
    border-color: #7c7bad;
}
.btn-primary .badge {
    background-color: white;
    color: #7c7bad;
}
.btn-primary:focus, .btn-primary.focus {
    background-color: #5f5e97;
    border-color: #414168;
    color: white;
}
.btn-primary:hover {
    background-color: #5f5e97;
    border-color: #5b5a91;
    color: white;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #5f5e97;
    border-color: #5b5a91;
    color: white;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background-color: #515081;
    border-color: #414168;
    color: white;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #7c7bad;
    border-color: #7c7bad;
}
.btn-primary .badge {
    background-color: white;
    color: #7c7bad;
}
.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-success:focus, .btn-success.focus {
    background-color: #449d44;
    border-color: #255625;
    color: #fff;
}
.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success.focus:active, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    background-color: #398439;
    border-color: #255625;
    color: #fff;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success.focus[disabled], fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success .badge {
    background-color: #fff;
    color: #5cb85c;
}
.btn-success:focus, .btn-success.focus {
    background-color: #449d44;
    border-color: #255625;
    color: #fff;
}
.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success.focus:active, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    background-color: #398439;
    border-color: #255625;
    color: #fff;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success.focus[disabled], fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success .badge {
    background-color: #fff;
    color: #5cb85c;
}
.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-info:focus, .btn-info.focus {
    background-color: #31b0d5;
    border-color: #1b6d85;
    color: #fff;
}
.btn-info:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    background-color: #269abc;
    border-color: #1b6d85;
    color: #fff;
}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info.focus[disabled], fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info .badge {
    background-color: #fff;
    color: #5bc0de;
}
.btn-info:focus, .btn-info.focus {
    background-color: #31b0d5;
    border-color: #1b6d85;
    color: #fff;
}
.btn-info:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info.focus:active, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    background-color: #269abc;
    border-color: #1b6d85;
    color: #fff;
}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info.focus[disabled], fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info .badge {
    background-color: #fff;
    color: #5bc0de;
}
.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-warning:focus, .btn-warning.focus {
    background-color: #ec971f;
    border-color: #985f0d;
    color: #fff;
}
.btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-warning:active:hover, .btn-warning.active:hover, .open > .dropdown-toggle.btn-warning:hover, .btn-warning:active:focus, .btn-warning.active:focus, .open > .dropdown-toggle.btn-warning:focus, .btn-warning.focus:active, .btn-warning.active.focus, .open > .dropdown-toggle.btn-warning.focus {
    background-color: #d58512;
    border-color: #985f0d;
    color: #fff;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning.focus[disabled], fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning .badge {
    background-color: #fff;
    color: #f0ad4e;
}
.btn-warning:focus, .btn-warning.focus {
    background-color: #ec971f;
    border-color: #985f0d;
    color: #fff;
}
.btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-warning:active:hover, .btn-warning.active:hover, .open > .dropdown-toggle.btn-warning:hover, .btn-warning:active:focus, .btn-warning.active:focus, .open > .dropdown-toggle.btn-warning:focus, .btn-warning.focus:active, .btn-warning.active.focus, .open > .dropdown-toggle.btn-warning.focus {
    background-color: #d58512;
    border-color: #985f0d;
    color: #fff;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning.focus[disabled], fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning .badge {
    background-color: #fff;
    color: #f0ad4e;
}
.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-danger:focus, .btn-danger.focus {
    background-color: #c9302c;
    border-color: #761c19;
    color: #fff;
}
.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger.focus:active, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {
    background-color: #ac2925;
    border-color: #761c19;
    color: #fff;
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger.focus[disabled], fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    background-color: #fff;
    color: #d9534f;
}
.btn-danger:focus, .btn-danger.focus {
    background-color: #c9302c;
    border-color: #761c19;
    color: #fff;
}
.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger.focus:active, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {
    background-color: #ac2925;
    border-color: #761c19;
    color: #fff;
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger.focus[disabled], fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    background-color: #fff;
    color: #d9534f;
}
.btn-link {
    border-radius: 0;
    color: #7c7bad;
    font-weight: normal;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
    background-color: transparent;
    color: #555487;
    text-decoration: none;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.btn-sm, .btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}

//== Navbar
.navbar .navbar-toggle {
    border-color: transparent;
    color:  white;
}

//== Labels
.label {
    border-radius: 0;
    font-size: 1em; // Override 75% of .label
}

//== Popover
.popover {
    border-radius: @border-radius-base;
}

//== Printing improvements
@media print {
    .table-responsive {
        overflow-x: initial;
    }
}

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../font/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;





//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;

@pagination-active-color:              @gray-light;
@pagination-active-bg:                 #f5f5f5;
@pagination-active-border:             #ddd;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  15px;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @gray-light;


//== Jumbotron
//
//##

@jumbotron-padding:              30px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:    ceil((@font-size-base * 4.5));




//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               #fff;
//** Tooltip background color
@tooltip-bg:                  #000;
@tooltip-opacity:             .9;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;




//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


//== Panels
//
//##

@panel-bg:                    #fff;
@panel-body-padding:          15px;
@panel-heading-padding:       10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          #ddd;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #none;
@panel-default-heading-bg:    @odoo-brand-primary;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
@thumbnail-padding:           4px;
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            #ddd;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   9px;


//== Wells
//
//##

@well-bg:                     #f5f5f5;
@well-border:                 darken(@well-bg, 7%);



//== Carousel
//
//##

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      #fff;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  20px;

@carousel-indicator-active-bg:                #fff;
@carousel-indicator-border-color:             #fff;

@carousel-caption-color:                      #fff;


//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;


//== Code
//
//##

@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

@kbd-color:                   #fff;
@kbd-bg:                      #333;

@pre-bg:                      #f5f5f5;
@pre-color:                   @gray-dark;
@pre-border-color:            #ccc;
@pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @gray-light;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @gray-light;
//** Blockquote small color
@blockquote-small-color:      @gray-light;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color:     @gray-lighter;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Horizontal line color.
@hr-border:                   @gray-lighter;

// ------------------------------------------------------------------
